[run]
source=pynumeric

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def report
    def export
    def cli
    if __name__ == .__main__.:
    ImportError
    HAS_GDAL
omit =
    pynumeric/tests/*
